<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
<div style="font-family: 'Kaushan Script', cursive; font-size: 24px; display:flex;justify-content:center; align-items:center; background: #71c; color: #fff; border: 2px solid #fff;">
  Equipe Meetup
</div>